.formSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formBg{
    background-color: var(--lime);
    padding-block: var(--section-space);
}

.formSection div {
    padding-block-end: var(--space-2xs);
}

@media (min-width: 27rem) {
    /* mid-range styles */
    .formSection div {
        padding-block-end: var(--space-l);
    }
}
