/* ===================================================== */
/* ======================== DNA ===================== */
/* ===================================================== */
.card {
    padding-block: 0;
}
.dnaTitle, .dnaText{
    padding-block: var(--space-2xs);
}
.dnaTitle{
    border-bottom: var(--line) solid var(--grey03);
}
.dnaList{
    padding-inline-start: var(--space-s);
}
.dnaCTATitle{
    border-bottom:0;
}
.dnaItem{
    margin-block-end: var(--space-m);
    padding-inline-end:var(--space-s);
}
.dnaCTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dna{
    background: linear-gradient(to bottom,
                transparent,
                var(--lime),
                transparent);
    margin-block: var(--section-space);
}
.btnDna{
    margin-block-start: var(--space-2xs);
}



/* ===================================================== */
/* ======================== FEATURED =================== */
/* ===================================================== */
.carousel-only {
    display: block;
}

.grid-only {
    display: none;
}
.workCTA{
    display: grid;
    place-items: center;
    text-align: center;
    padding-block-start: var(--space-l);
}



/* ===================================================== */
/* ======================== DITHER ===================== */
/* ===================================================== */
.dither {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    min-height:45vh;
    position: relative;
    overflow: hidden;
    background-color: var(--lime);
}
.dither .dither-container {
    --fade-top: 1rem;
    --fade-bottom: 1rem;
    display: block;
    width: 100%;

    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0,
            #000 var(--fade-top),
            #000 calc(100% - var(--fade-bottom)),
            transparent 100%);
    mask-image: linear-gradient(to bottom,
            transparent 0,
            #000 var(--fade-top),
            #000 calc(100% - var(--fade-bottom)),
            transparent 100%);
}
.ditherTitle, .dither-container{
    grid-column: 1/2;
    grid-row: 1/2;
}
.ditherTitle{
    z-index: 30;
    color: var(--white);
    padding-block-end: 0;
    font-weight: 900;
    pointer-events: none;
}
.dither-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.featuredSection{
    padding-block-end: var(--section-space);
    background: linear-gradient(to top, var(--lime) 0%, var(--lime-light) 10%, transparent 35%);
}

@media (min-width: 27rem) {
    /* DNA */
    .dnaList {
        padding-inline-start: 0;
    }
    .dnaCTA {
        display: block;
        flex-direction: unset;
        align-items: unset;
        text-align: unset;
    }
    .dnaTitle {
        border-bottom:0;
    }
    .dnaList{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .dnaItem {
        border-top: var(--line) solid var(--grey03);
        grid-column: 4/13;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        padding-inline-end:var(--space-2xl);
    }

    .dnaText{
        padding-block-start: var(--space-xs);
        grid-column: 3/4;
    }
    .btnDna{
        grid-column: 3/4;
    }
    
    /* FEATURED */
    .carousel-only {
        display: none;
    }

    .grid-only {
        display: block;
    }
    .grid-only .card--stacked{
        padding-block-end: var(--space-s);
    }
    .featuredSection{
        background: linear-gradient(to top, var(--lime) 0%, var(--lime-light) 10%, transparent 35%);
    }
}

@media (min-width: 64rem) {
  /* desktop styles */
    .dnaItem {
        padding-inline-end:var(--space-5xl);
    }
}
