/* ===================================================== */
/* ======================== HERO ===================== */
/* ===================================================== */

.hero{
    padding-block-end: var(--section-space);
    padding-block-start: var(--space-xl);
    background-image: url("/assets/other/green-bg-dither.jpg");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero__info h1{
    padding-block-end: var(--space-2xs);
    border-bottom: var(--line) solid var(--grey02);
    margin-block-end: var(--space-xs);
}
.hero__info p{
    font-size: var(--fs2);
    font-weight: 200;
}

.hero__textTitle{
    font-size: var(--fs3);
    font-weight: 600;
    padding-block-end: var(--space-s);
}
.hero__intro{
    padding-block-end: var(--space-xl);
}
.hero__info{
    padding-inline-start: var(--space-s);
}
.hero__text {
    padding-inline: var(--space-s);
}
.hero__text div{
    padding-block-start: 0.5rem;
}



/* ===================================================== */
/* ======================== DNA ===================== */
/* ===================================================== */

.dnaTitle, .dnaText{
    padding-block: var(--space-2xs);
}
.dnaTitle{
    border-bottom: var(--line) solid var(--grey03);
}
.dnaList{
    padding-inline-start: var(--space-s);
}
.dnaCTATitle{
    border-bottom:0;
}
.dnaItem{
    margin-block-end: var(--space-m);
    padding-inline-end:var(--space-s);
}
.dnaCTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dna{
    background: linear-gradient(to bottom,
                var(--lime) 0%,
                var(--lime-light) 30%,
                transparent 40%);
    margin-block-end: var(--section-space);
}
.btnDna{
    margin-block-start: var(--space-2xs);
}



/* ===================================================== */
/* ======================== FEATURED =================== */
/* ===================================================== */
.carousel-only {
    display: block;
}

.grid-only {
    display: none;
}
.workCTA{
    display: grid;
    place-items: center;
    text-align: center;
    padding-block-start: var(--space-l);
}



/* ===================================================== */
/* ======================== DITHER ===================== */
/* ===================================================== */
.dither {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    min-height:45vh;
    position: relative;
    overflow: hidden;
    background-color: var(--lime);
}
.dither .dither-container {
    --fade-top: 1rem;
    --fade-bottom: 1rem;
    display: block;
    width: 100%;

    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0,
            #000 var(--fade-top),
            #000 calc(100% - var(--fade-bottom)),
            transparent 100%);
    mask-image: linear-gradient(to bottom,
            transparent 0,
            #000 var(--fade-top),
            #000 calc(100% - var(--fade-bottom)),
            transparent 100%);
}
.ditherTitle, .dither-container{
    grid-column: 1/2;
    grid-row: 1/2;
}
.ditherTitle{
    z-index: 30;
    padding-block-end: 0;
    color: var(--grey03);
    font-weight: 900;
    pointer-events: none;
    text-shadow:
        0 1px 0 rgba(0, 0, 0, .25),
        0 2px 2px rgba(0, 0, 0, .15),
        0 6px 12px rgba(0, 0, 0, .12);
}
.dither-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.featuredSection{
    padding-block-end: var(--section-space);
    background: linear-gradient(to top, var(--lime) 0%, var(--lime-light) 10%, transparent 35%);
}

@media (min-width: 27rem) {
    /* HERO */
    .hero {
        background-position: center calc(100% + 70px);
    }
    .hero__intro{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .img__hero{
        grid-column: 1/6;
        justify-self: center;
    }
    .hero__info{
        grid-column: 7/13;
        align-self: end;
    }
    .hero__text {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .hero__textTitle {
        grid-column: 2/6;
        padding-block-end: 0;
        padding-inline-start: 1rem;
    }
    .hero__text div {
        grid-column: 7/13;
        padding-inline-end: var(--space-2xl);
    }


    .hero__info {
        padding-inline-start: 0;
    }
    .hero__text {
        padding-inline: 0;
    }


    /* DNA */
    .dnaList {
        padding-inline-start: 0;
    }
    .dnaCTA {
        display: block;
        flex-direction: unset;
        align-items: unset;
        text-align: unset;
    }
    .dnaTitle {
        border-bottom:0;
    }
    .dnaList{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .dnaItem {
        border-top: var(--line) solid var(--grey03);
        grid-column: 4/13;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        padding-inline-end:var(--space-2xl);
    }

    .dnaText{
        padding-block-start: var(--space-xs);
        grid-column: 3/4;
    }
    .btnDna{
        grid-column: 3/4;
    }
    
    /* FEATURED */
    .carousel-only {
        display: none;
    }

    .grid-only {
        display: block;
    }
    .grid-only .card--stacked{
        padding-block-end: var(--space-s);
    }
    .featuredSection{
        background: linear-gradient(to top, var(--lime) 0%, var(--lime-light) 10%, transparent 35%);
    }
}

@media (min-width: 64rem) {
  /* desktop styles */
    .dnaItem, .hero__text div {
        padding-inline-end:var(--space-5xl);
    }
}
